<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Express Exam</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <nav>
            <a>Theater</a>
            <ul>
                <li><a href="/">Home </a></li>
                {{#if user}}
                <li><a href="/auth/logout">Logout</a></li>
                <li><a href="/plays/create">Create Play</a></li>
                {{else}}
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/register">Register</a></li>
                {{/if}}
            </ul>
        </nav>

        <section class="notifications error">
            <p>Message...</p>
        </section>


        {{{body}}}

        <footer>
            <div>© 2020
                <a href="https://softuni.bg/courses/js-back-end">JS Back-End</a>
            </div>
        </footer>

    </div>
</body>

</html>