.container {
    max-width: 1300px;
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.left-section {
    width: 50%;
    background-color: #e3f3fd;
    border-radius: 10px;
    box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.32);

}

.left-section h2 {
    padding: 10px 40px;
    font-weight: 600;
    color: #677584;
    font-size: 36px;
}

.left-section ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
.left-section ul li {
    display: flex;
    flex-direction: row;
}

.left-section ul li i {
    align-self: center;
    margin-right: 10px;
    color: #44a9f8;
}
.right-section {
    width: 50;
    border: 5px solid #44a9f8;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.32);

}

.right-section h1 {
    margin-top: 100px;
    font-size: 32px;
}
.right-section h1 span {
    color: #44a9f8;
    font-size: 62px;
}

.right-section h3 {
    font-size: 32px;
    margin: 0px 10px 26px 10px;
}

.right-section .enroll_btn {
    width: 40%;
    padding: 22px 34px;
    align-self: center;
    border: none;
    border-radius: 15px;
    background-color:#44a9f8;
    color: white;
    text-transform: uppercase;
    box-shadow: 3px 6px 5px -1px rgba(0,0,0,0.32);
    font-size: 16px;
    letter-spacing: 1.1px;
    font-weight: bold;
}