@font-face {
    font-family: Righteous;
    src: url(https://fonts.googleapis.com/css2?family=Righteous&display=swap);
}

@font-face {
    font-family: Orienta;
    src: url(https://fonts.googleapis.com/css2?family=Orienta&display=swap);
}

body {
    
    background-color: darkred;
}

body h1 {
    
    font-family: Righteous, cursive;
    font-size: 45px ;
    Font-weight: normal ;
    line-height: 60px ;
    color: rgb(255, 255, 255);
    text-transform: uppercase ;
    text-align: center;
}

body h2 {
    
    Font-size: 30px ;
    line-height: 50px ;
    letter-spacing: -1px ;
    color: #DFBF84 ;
    text-transform: uppercase ;
    text-align: center;
}

body p {
    
    font-family: Orienta, sans-serif ;
    font-size: 16px ;
    line-height: 24px ;
    color: #f6f6f6 ;
    text-align: center;
}