@import url("reset.css");
@import url("variables.css");
@import url("hero-section.css");
@import url("clients-section.css");
@import url("business-cestion.css");

body {
  background-color: var(--clr-helper-3);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* section */

.section--narrow {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 48px 24px;
}

.section__title,
.section__desc {
  max-width: 540px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.section__title {
  /* margin-bottom: 30px; */
  margin-bottom: 16px;
  /* font-size: 46px; */
  font-size: 32px;
  color: var(--clr-black);
}

.section__desc {
  margin-bottom: 50px;
  /* font-size: 20px; */
  font-size: 18px;
  color: var(--clr-gray);
}

@media screen and (mix-width: 1024px) {
  .section--narrow {
    padding: 100px 50px;
  }
  
  
  .section__title {
    margin-bottom: 30px; 
    font-size: 46px;
  }
  
  .section__desc {
    font-size: 20px;
  }

}