div {
    height: 50vh;
}

div:first-child {
    background-color: green;
}

div:first-child img {
    width: 300px;
}


div:last-child {
    background-color: lightpink;
}

div:last-child img {
    width: 200px;
}

div {
    position: relative;
}

div .card {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.viewport .card i {
    color: white;
    position: absolute;
    right: 14px;
    bottom: 10px;
}