    <main>
        <section class="crypto-market">
            <h1><span>Crypto</span> Trade</h1>
            {{#each crypto}}
            <div class="offer-list">
                {{> cryptoCard}}
            </div>
            {{else}}
            <div class="no-offer">
                <p>There are no crypto offers found!</p>
            </div>
            {{/each}}
        </section>
    </main>