.grid-layout .grid-item:nth-child(1) {
  background-color: #845ec2;
}
.grid-layout .grid-item:nth-child(2) {
  background-color: #d65db1;
}
.grid-layout .grid-item:nth-child(3) {
  background-color: #ff6f91;
}
.grid-layout .grid-item:nth-child(4) {
  background-color: #ff9671;
}
.grid-layout .grid-item:nth-child(5) {
  background-color: #ffc75f;
}
.grid-layout .grid-item:nth-child(6) {
  background-color: #008f7a;
}

.grid-layout {
  display: grid;
  /* grid-template-columns: 300px 300px 300px; */
  grid-template-columns: 200px 100px repeat(3, 1fr) 400px;
  gap: 5px 50px;
}



.page-layout > * {
  background-color: #0081cf;
  padding: 1rem;
  border-radius: 0.5rem;
  color: aliceblue;
}

.page-layout {
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 400px 200px;

  grid-template-areas: 
    'nav nav nav'
    'sidebar . content'
    'footer footer footer'
    ;

}

.page-layout header {
  /* grid-column: 1 / 4; */
  /* grid-row: 1 / 3; */
  grid-area: nav;
}

.page-layout aside {
  background-color: red;
  /* grid-column: 1 / 2;
  grid-row: 2 / 3; */
  grid-area: sidebar;

}

.page-layout main {
  background-color: orange;
  /* grid-column: 2 / 4; */
  /* grid-row: 1 / 3; */
  grid-area: content;

}

.page-layout footer {
  background-color: blue;
  /* grid-column: 1 / 4; */
  /* grid-row: 1 / 3; */
  grid-area: footer;

}