@import 'https://fonts.googleapis.com/css?family=Montserrat';

body {
    font-family: "Montserrat", sans-serif;
    padding: 16px;
}

thead th {
    background: lightblue;
}

td, th {
    Width: 144px ;
    Height: 32px ;
    border: 1px solid #ccc;
    padding-left:  5px;
}