

<!-- <button (click)="handleClickEvent()">Toggle last name</button> -->


<button (click)="handleClickEvent($event)">
    <ng-container *ngIf="showLastName" class="colorBtn">Hide</ng-container>
    <ng-container *ngIf="!showLastName" class="colorBtn">Show</ng-container>
    last name
</button>

<ul id="list-container">
  <li *ngFor="let user of users" class="list-item">
    <app-list-item [userItem]="user" [showLastNameItem]="showLastName"></app-list-item>
    <!-- [user.firstName] -- [user.lastName] -->
  </li>
</ul>